<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js Tutorial</title>

<!-- CSS LINK -->
<link rel="stylesheet" href="/style.css">

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>
<body>

    <div class="wrapper">
        <a href="/">
		<button class="btn warning" style="background-color:#ffe5f4;color:#cd0278;" > Home</button> </a>
		<a href="/message">
        <button class="btn success" style="background-color:#ffe5f4;color:#cd0278;" > Message</button>
	</a>
    </div>


    