<%- include("components/header"); -%>

<!--Head-->


  <section id="head">
    <div class="main-page">

      <div>
        
        <div class="h2p">


            <h1>MESSAGE BOX</h1>

            <form action="/message" method="POST">
              <div>
                <label for="User message" >Title</label>
                <input name="msg" required  placeholder="Message">
              </div>

              <button type="submit">

            </form>

        </div>

      </div>       

    </div>
  </section>


<%- include("components/footer"); -%>
